In [3]:
from pathlib import Path
import pandas as pd
import datetime as dt
import csv

In [23]:
# reading in gold csv, making the Date the index
gold_df = pd.read_csv("../raw_csv/gold.csv", index_col="Date", parse_dates=True, infer_datetime_format=True, )

# renaming Price column Gold so that we can tell which asset is which
gold_df = gold_df.rename(columns ={"Price" : "GOLD"})

# dropping all columns beside price
gold_data = gold_df.drop(columns= {"Open", "High", "Low", "Vol.", "Change %"})

# selecting one year of information

gold_one_year = gold_data.head(365)

TypeError: parser_f() got an unexpected keyword argument 'ascending'

In [20]:
# ten years of data... date and daily price
gold_data.head()

                GOLD
Date
2020-10-29  1,868.65
2020-10-28  1,879.20
2020-10-27  1,911.90
2020-10-26  1,905.70
2020-10-23  1,905.20

In [12]:
gold_data["GOLD"] = gold_data['GOLD'].str.replace(",", "").astype("float")
gold_data.head()

               GOLD
Date
2020-10-29  1868.65
2020-10-28  1879.20
2020-10-27  1911.90
2020-10-26  1905.70
2020-10-23  1905.20

In [21]:
# one year of data ... date and daily price
gold_one_year["GOLD"] = gold_one_year["GOLD"].str.replace(",","").astype("float")

gold_one_year

               GOLD
Date
2020-10-29  1868.65
2020-10-28  1879.20
2020-10-27  1911.90
2020-10-26  1905.70
2020-10-23  1905.20
...             ...
2019-06-20  1429.40
2019-06-19  1384.40
2019-06-18  1387.40
2019-06-17  1379.60
2019-06-14  1381.50

[365 rows x 1 columns]

In [22]:
gold_one_year.to_csv("../clean/Gold.csv")