In [17]:
import os
import pandas as pd
from pathlib import Path
import csv

In [20]:
# Read in returns from cleaned data

five_assets_df = pd.read_csv("../Data/clean/five_Assets.csv", index_col="Date", parse_dates=True, infer_datetime_format=False)

In [21]:
five_assets_df.head()

            Unnamed: 0      GOLD     sp500       VNQ   BITCOIN     FAANG
Date
2019-10-31           0  0.011464 -0.001387  0.017443  0.004977  0.004508
2019-11-01           1 -0.001749  0.009956 -0.004676 -0.004105  0.011144
2019-11-04           2  0.000195 -0.002000  0.000000 -0.001570  0.010840
2019-11-05           3 -0.017579  0.002763  0.003975 -0.002239 -0.004088
2019-11-06           4  0.006207 -0.003919 -0.016437  0.006940 -0.003077

In [22]:
# Drop extra column

five_assets_df.drop(columns=["Unnamed: 0"], inplace=True)

In [23]:
five_assets_df.head()

                GOLD     sp500       VNQ   BITCOIN     FAANG
Date
2019-10-31  0.011464 -0.001387  0.017443  0.004977  0.004508
2019-11-01 -0.001749  0.009956 -0.004676 -0.004105  0.011144
2019-11-04  0.000195 -0.002000  0.000000 -0.001570  0.010840
2019-11-05 -0.017579  0.002763  0.003975 -0.002239 -0.004088
2019-11-06  0.006207 -0.003919 -0.016437  0.006940 -0.003077

In [ ]:
# Assign weights to Assets in portfolio components through user input

GLD = float(input("ENTER WEIGHT OF Gold"))
SNP = float(input("ENTER WEIGHT OF sp500"))
VNQ = float(input("ENTER WEIGHT OF VNQ"))
BTC = float(input("ENTER WEIGHT OF Bitcoin"))
FNG= float(input("ENTER WEIGHT OF FAANG"))

if GLD + SNP + VNQ + BTC + FNG == 1:
    portfolio_weights = [GLD, SNP, VNQ, BTC, FNG]

    portfolio_return = five_assets_df.dot(portfolio_weights)

    portfolio_return.plot(figsize = (20, 10))

else:
    print("Adjust your inputs. Total weight must equal 1")

portfolio_weights