In [2]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [63]:
#apple_csv = Path("..data/csv_files/Apple.csv")
apple_df = pd.read_csv("../data/csv_files/Apple.csv", index_col= "Date", parse_dates=True, infer_datetime_format=True)

facebook_df = pd.read_csv("../data/csv_files/Facebook.csv", index_col= "Date", parse_dates=True, infer_datetime_format=True)

google_df = pd.read_csv("../data/csv_files/Google.csv", index_col= "Date", parse_dates=True, infer_datetime_format=True)

netflix_df = pd.read_csv("../data/csv_files/Netflix.csv", index_col= "Date", parse_dates=True, infer_datetime_format=True)

amazon = pd.read_csv("../data/csv_files/Amazon.csv", index_col= "Date", parse_dates=True, infer_datetime_format=True)

In [64]:
apple_df.rename(columns={"Close":"AAPL"}, inplace=True)

google_df.rename(columns={"Close":"GOOGL"}, inplace=True)

netflix_df.rename(columns={"Close":"NFLX"}, inplace=True)

facebook_df.rename(columns={"Close":"FB"}, inplace=True)

In [65]:
netflix_df.head()

              NFLX
Date
2019-10-29  281.21
2019-10-30  291.45
2019-10-31  287.41
2019-11-01  286.81
2019-11-04  292.86

In [62]:
amazon.head()

              Close
Date
2019-10-29  1762.71
2019-10-30  1779.99
2019-10-31  1776.66
2019-11-01  1791.44
2019-11-04  1804.66