In [8]:
import pandas as pd
import numpy as np 
import datetime as dt 
from pathlib import Path 
%matplotlib inline

In [18]:
VNQ_df = pd.read_csv("../data/raw_csv/VNQ.csv", index_col="Date", parse_dates=True, infer_datetime_format=False)
VNQ_df.head(-5)

            Price   Open   High    Low     Vol. Change %
Date
2020-10-29  77.10  76.20  77.68  75.46    4.65M    1.34%
2020-10-28  76.08  76.68  77.43  75.79    4.42M   -2.39%
2020-10-27  77.94  79.30  79.73  77.94    2.26M   -1.60%
2020-10-26  79.21  79.74  79.86  78.51    2.69M   -1.43%
2020-10-23  80.36  80.18  80.67  79.69    2.59M    0.60%
...           ...    ...    ...    ...      ...      ...
2010-10-12  54.04  53.51  54.18  53.28    1.69M    0.71%
2010-10-11  53.66  53.74  53.84  53.52  954.90K   -0.02%
2010-10-08  53.67  53.55  53.80  53.24    1.12M    0.28%
2010-10-07  53.52  53.60  53.89  53.26    1.28M    0.28%
2010-10-06  53.37  53.46  53.60  53.09    2.10M   -0.54%

[2559 rows x 6 columns]

In [21]:
VNQ_df_clean = VNQ_df.sort_index(ascending=True)['2019-10-29' : '2020-10-29']
VNQ_df_clean.head(-5)

            Price   Open   High    Low   Vol. Change %
Date
2019-10-29  94.13  93.72  94.39  93.60  5.51M    0.61%
2019-10-30  94.47  94.02  94.53  93.47  3.88M    0.36%
2019-10-31  94.30  94.67  94.76  93.95  4.72M   -0.18%
2019-11-01  94.28  94.41  94.79  93.45  6.65M   -0.02%
2019-11-04  93.62  94.25  94.28  93.42  3.89M   -0.70%
...           ...    ...    ...    ...    ...      ...
2020-10-16  80.82  81.41  81.43  80.67  2.93M   -0.71%
2020-10-19  79.56  81.03  81.20  79.44  5.11M   -1.56%
2020-10-20  80.13  80.09  80.74  79.93  4.04M    0.72%
2020-10-21  79.89  79.91  80.27  79.51  2.69M   -0.30%
2020-10-22  79.88  79.88  80.22  79.53  3.83M   -0.01%

[273 rows x 6 columns]

In [23]:
#dropping unneeded col
VNQ_df_clean.drop(columns=["Open","High","Low","Vol.","Change %"], inplace=True)
VNQ_df_clean.head()

            Price
Date
2019-10-29  94.13
2019-10-30  94.47
2019-10-31  94.30
2019-11-01  94.28
2019-11-04  93.62