In [1]:
import os
import pandas as pd
from pathlib import Path
import numpy as np
import datetime as dt
import csv
%matplotlib inline

In [20]:
bitcoin_path = ("../Data/clean/Bitcoin.csv")
gold_path = ("../Data/clean/Gold.csv")
#van_path = ("../Data/raw_csv/VNQ.csv")
sp500_path = ("../Data/clean/sp500.csv")
amazon_path = ("../Data/clean/Amazon.csv")
apple_path = ("../Data/clean/Apple.csv")
facebook_path = ("../Data/clean/Facebook.csv")
google_path = ("../Data/clean/Google.csv")
netflix_path = ("../Data/clean/Netflix.csv")

In [21]:
bitcoin_df = pd.read_csv(bitcoin_path)
gold_df = pd.read_csv(gold_path)
## van_df = pd.read_csv(van_path)
sp500_df = pd.read_csv(sp500_path)
amazon_df = pd.read_csv(amazon_path)
apple_df = pd.read_csv(apple_path)
facebook_df = pd.read_csv(facebook_path)
google_df = pd.read_csv(google_path)
netflix_df = pd.read_csv(netflix_path)

In [25]:
fang_df = pd.concat([amazon_df, apple_df, facebook_df, google_df, netflix_df], axis= "columns", join="inner")

fang_df.head()

,Date,Close,Date,Close,Date,Close,Date,Close,Date,Close
0,10/29/2019,1762.71,10/29/2019,60.82,10/29/19,189.31,10/29/2019,1260.66,10/29/2019,281.21
1,10/30/2019,1779.99,10/30/2019,60.82,10/30/19,188.25,10/30/2019,1260.70,10/30/2019,291.45
2,10/31/2019,1776.66,10/31/2019,62.19,10/31/19,191.65,10/31/2019,1258.80,10/31/2019,287.41
3,11/1/2019,1791.44,11/1/2019,63.96,11/1/19,193.62,11/1/2019,1272.25,11/1/2019,286.81
4,11/4/2019,1804.66,11/4/2019,64.38,11/4/19,194.72,11/4/2019,1289.61,11/4/2019,292.86

In [24]:
huge_df = pd.concat([bitcoin_df, gold_df, sp500_df], axis="columns", join="inner")

huge_df.head()

         Date  BITCOIN        Date     GOLD        Date    sp500
0  2019-10-29   9411.3  2020-10-29  1868.65  2020-10-29  3310.11
1  2019-10-30   9157.9  2020-10-28  1879.20  2020-10-28  3271.03
2  2019-10-31   9152.6  2020-10-27  1911.90  2020-10-27  3390.68
3  2019-11-01   9230.1  2020-10-26  1905.70  2020-10-26  3400.97
4  2019-11-02   9300.6  2020-10-23  1905.20  2020-10-23  3465.39