In [141]:
import os
import pandas as pd
from pathlib import Path
import numpy as np
import datetime as dt
import csv
%matplotlib inline

In [142]:
# bringing in data
bitcoin_path = ("../Data/clean/Bitcoin.csv")
gold_path = ("../Data/clean/Gold.csv")
vnq_path = ("../Data/clean/VNQ.csv")
sp500_path = ("../Data/clean/sp500.csv")
fang_path = ("../Data/clean/FAANG.csv")

In [143]:
# reading in data
bitcoin_df = pd.read_csv(bitcoin_path)
gold_df = pd.read_csv(gold_path)
vnq_df = pd.read_csv(vnq_path)
sp500_df = pd.read_csv(sp500_path)
fang_df = pd.read_csv(fang_path)

In [144]:
# first try for concatenation. 
#universal_df = pd.concat([bitcoin_df, gold_df, sp500_df, fang_df, vnq_df], axis="columns", join="inner")

#universal_df.head()

In [187]:
# data that does not change on weekends

no_weekend = pd.concat([gold_df, sp500_df, vnq_df], axis=1, join= "inner")

Cols = list(no_weekend.columns)

for i, item in enumerate(no_weekend.columns):
    if item in no_weekend.columns[:i]:Cols[i] = "toDROP"

no_weekend.columns = Cols

joined_no_weekend = no_weekend.drop("toDROP", 1).set_index("Date").dropna()

joined_no_weekend

               GOLD    sp500    VNQ
Date
2020-10-29  1868.65  3310.11  94.13
2020-10-28  1879.20  3271.03  94.47
2020-10-27  1911.90  3390.68  94.30
2020-10-26  1905.70  3400.97  94.28
2020-10-23  1905.20  3465.39  93.62
...             ...      ...    ...
2019-10-18  1523.00  2940.25  80.36
2019-10-17  1527.80  2976.74  79.21
2019-10-16  1523.40  2961.79  77.94
2019-10-15  1513.10  2977.62  76.08
2019-10-14  1527.10  2984.87  77.10

[278 rows x 3 columns]

In [161]:
# FAANG DF, percent change
fang_df

           Date     FAANG
0    2019-10-31  0.004508
1    2019-11-01  0.011144
2    2019-11-04  0.010840
3    2019-11-05 -0.004088
4    2019-11-06 -0.003077
..          ...       ...
246  2020-10-22 -0.002887
247  2020-10-23  0.008706
248  2020-10-26 -0.009420
249  2020-10-27  0.014342
250  2020-10-28 -0.038724

[251 rows x 2 columns]

In [168]:
random = pd.concat([good_data, fang_df], axis="columns", join="inner")
random

           Date   BITCOIN      GOLD     sp500       VNQ        Date     FAANG
0    2019-10-30 -0.026925  0.005646 -0.011806  0.003612  2019-10-31  0.004508
1    2019-10-31 -0.000579  0.017401  0.036579 -0.001800  2019-11-01  0.011144
2    2019-11-01  0.008468 -0.003243  0.003035 -0.000212  2019-11-04  0.010840
3    2019-11-02  0.007638 -0.000262  0.018942 -0.007000  2019-11-05 -0.004088
4    2019-11-03 -0.010999 -0.000315 -0.003434 -0.016984  2019-11-06 -0.003077
..          ...       ...       ...       ...       ...         ...       ...
246  2020-07-02 -0.015688 -0.001945 -0.002723  0.005373  2020-10-22 -0.002887
247  2020-07-03 -0.001981  0.004234 -0.000702  0.012774  2020-10-23  0.008706
248  2020-07-04  0.007422 -0.000268  0.001187  0.000000  2020-10-26 -0.009420
249  2020-07-05 -0.005846  0.007028 -0.003690  0.000000  2020-10-27  0.014342
250  2020-07-06  0.028411  0.000199 -0.009570  0.020463  2020-10-28 -0.038724

[251 rows x 7 columns]

In [173]:
# trying to figure out what happened to our CSV and dates

pct_change_no_fang = joined_no_weekend.pct_change().dropna()

pct_change_no_fang.to_csv("../data/csv_files/weird_dates.csv")

In [150]:
# failure to concatenate

universal_pct_change = pd.concat([pct_change_no_fang, fang_df], axis= "columns", join="inner")

universal_pct_change

Empty DataFrame
Columns: [BITCOIN, GOLD, sp500, VNQ, Date, FAANG]
Index: []