In [1]:
import os
import pandas as pd
from pathlib import Path
import numpy as np
import datetime as dt
import csv
%matplotlib inline

In [15]:
bitcoin_path = ("../Data/clean/Bitcoin.csv")
gold_path = ("../Data/clean/Gold.csv")
#van_path = ("../Data/raw_csv/VNQ.csv")
sp500_path = ("../Data/clean/sp500.csv")

In [16]:
bitcoin_df = pd.read_csv(bitcoin_path)
gold_df = pd.read_csv(gold_path)
## van_df = pd.read_csv(van_path)
sp500_df = pd.read_csv(sp500_path)

In [19]:
huge_df = pd.concat([bitcoin_df, gold_df, sp500_df], axis="columns", join="inner")

huge_df

           Date  BITCOIN        Date     GOLD        Date    sp500
0    2019-10-29   9411.3  2020-10-29  1868.65  2020-10-29  3310.11
1    2019-10-30   9157.9  2020-10-28  1879.20  2020-10-28  3271.03
2    2019-10-31   9152.6  2020-10-27  1911.90  2020-10-27  3390.68
3    2019-11-01   9230.1  2020-10-26  1905.70  2020-10-26  3400.97
4    2019-11-02   9300.6  2020-10-23  1905.20  2020-10-23  3465.39
..          ...      ...         ...      ...         ...      ...
360  2020-10-23  12934.1  2019-06-20  1429.40  2019-05-29  2783.02
361  2020-10-24  13117.2  2019-06-19  1384.40  2019-05-28  2802.39
362  2020-10-25  13032.2  2019-06-18  1387.40  2019-05-24  2826.06
363  2020-10-26  13061.6  2019-06-17  1379.60  2019-05-23  2822.24
364  2020-10-27  13657.8  2019-06-14  1381.50  2019-05-22  2856.27

[365 rows x 6 columns]