In [1]:
import os
import pandas as pd
from pathlib import Path
import numpy as np
import datetime as dt
import csv
%matplotlib inline

In [15]:
bitcoin_path = ("../Data/clean/Bitcoin.csv")
gold_path = ("../Data/clean/Gold.csv")
#van_path = ("../Data/raw_csv/VNQ.csv")
sp500_path = ("../Data/clean/sp500.csv")

In [16]:
bitcoin_df = pd.read_csv(bitcoin_path)
gold_df = pd.read_csv(gold_path)
## van_df = pd.read_csv(van_path)
sp500_df = pd.read_csv(sp500_path)

In [17]:
bitcoin_df

           Date  BITCOIN
0    2019-10-29   9411.3
1    2019-10-30   9157.9
2    2019-10-31   9152.6
3    2019-11-01   9230.1
4    2019-11-02   9300.6
..          ...      ...
362  2020-10-25  13032.2
363  2020-10-26  13061.6
364  2020-10-27  13657.8
365  2020-10-28  13278.9
366  2020-10-29  13461.4

[367 rows x 2 columns]