In [118]:
import os
import pandas as pd
from pathlib import Path
import numpy as np
import datetime as dt
import csv
%matplotlib inline

In [119]:
# bringing in data
bitcoin_path = ("../Data/clean/Bitcoin.csv")
gold_path = ("../Data/clean/Gold.csv")
vnq_path = ("../Data/clean/VNQ.csv")
sp500_path = ("../Data/clean/sp500.csv")
fang_path = ("../Data/clean/fang.csv")

In [120]:
# reading in data
bitcoin_df = pd.read_csv(bitcoin_path)
gold_df = pd.read_csv(gold_path)
vnq_df = pd.read_csv(vnq_path)
sp500_df = pd.read_csv(sp500_path)
fang_df = pd.read_csv(fang_path)

In [121]:
# first try for concatenation. 
#universal_df = pd.concat([bitcoin_df, gold_df, sp500_df, fang_df, vnq_df], axis="columns", join="inner")

#universal_df.head()

In [132]:
universal_df = pd.concat([bitcoin_df, gold_df, sp500_df, vnq_df], axis=1, join= "inner")

Cols = list(universal_df.columns)

for i, item in enumerate(universal_df.columns):
    if item in universal_df.columns[:i]:Cols[i] = "toDROP"

universal_df.columns = Cols

joined_dataframes = universal_df.drop("toDROP", 1).set_index("Date")

joined_dataframes.head()

            BITCOIN     GOLD    sp500    VNQ
Date
2019-10-29   9411.3  1868.65  3310.11  94.13
2019-10-30   9157.9  1879.20  3271.03  94.47
2019-10-31   9152.6  1911.90  3390.68  94.30
2019-11-01   9230.1  1905.70  3400.97  94.28
2019-11-02   9300.6  1905.20  3465.39  93.62

In [135]:
pct_change_no_fang = joined_dataframes.pct_change().dropna()

pct_change_no_fang

             BITCOIN      GOLD     sp500       VNQ
Date
2019-10-30 -0.026925  0.005646 -0.011806  0.003612
2019-10-31 -0.000579  0.017401  0.036579 -0.001800
2019-11-01  0.008468 -0.003243  0.003035 -0.000212
2019-11-02  0.007638 -0.000262  0.018942 -0.007000
2019-11-03 -0.010999 -0.000315 -0.003434 -0.016984
...              ...       ...       ...       ...
2020-07-28 -0.010369  0.003757  0.018230  0.006009
2020-07-29  0.018096  0.003152  0.012411 -0.014311
2020-07-30 -0.000873 -0.002880 -0.005022 -0.016033
2020-07-31  0.021377 -0.006761  0.005345 -0.023865
2020-08-01  0.041444  0.009253  0.002435  0.013407

[277 rows x 4 columns]

In [ ]:
universal_pct_change = pd.concat([pct_change_no_fang, ])