In [99]:
import os
import pandas as pd
from pathlib import Path
import numpy as np
import datetime as dt
import csv
%matplotlib inline

In [100]:
bitcoin_path = ("../Data/clean/Bitcoin.csv")
gold_path = ("../Data/clean/Gold.csv")
vnq_path = ("../Data/clean/VNQ.csv")
sp500_path = ("../Data/clean/sp500.csv")
fang_path = ("../Data/clean/fang.csv")

In [101]:
bitcoin_df = pd.read_csv(bitcoin_path)
gold_df = pd.read_csv(gold_path)
vnq_df = pd.read_csv(vnq_path)
sp500_df = pd.read_csv(sp500_path)
fang_df = pd.read_csv(fang_path)

In [102]:
#universal_df = pd.concat([bitcoin_df, gold_df, sp500_df, fang_df, vnq_df], axis="columns", join="inner")

#universal_df.head()

In [106]:
universal_df = pd.concat([bitcoin_df, gold_df, sp500_df, fang_df, vnq_df], axis=1, join= "inner")

Cols = list(universal_df.columns)

for i, item in enumerate(universal_df.columns):
    if item in universal_df.columns[:i]:Cols[i] = "toDROP"

universal_df.columns = Cols

joined_dataframes = universal_df.drop("toDROP", 1)

joined_dataframes

,Date,BITCOIN,GOLD,sp500,FB,AAPL,AMZN,NFLX,GOOGL,VNQ
0,2019-10-29,9411.3,1868.65,3310.11,189.31,60.82,1762.71,281.21,1260.66,94.13
1,2019-10-30,9157.9,1879.20,3271.03,188.25,60.82,1779.99,291.45,1260.70,94.47
2,2019-10-31,9152.6,1911.90,3390.68,191.65,62.19,1776.66,287.41,1258.80,94.30
3,2019-11-01,9230.1,1905.70,3400.97,193.62,63.96,1791.44,286.81,1272.25,94.28
4,2019-11-02,9300.6,1905.20,3465.39,194.72,64.38,1804.66,292.86,1289.61,93.62
...,...,...,...,...,...,...,...,...,...,...
248,2020-07-03,9067.1,1494.40,3074.62,278.12,115.75,3176.40,485.23,1606.66,77.70
249,2020-07-04,9134.4,1494.00,3078.27,284.79,115.04,3204.40,488.28,1632.98,77.70
250,2020-07-05,9081.0,1504.50,3066.91,277.11,115.05,3207.04,488.24,1584.29,77.70
251,2020-07-06,9339.0,1504.80,3037.56,283.29,116.60,3286.33,488.93,1598.88,79.29
252,2020-07-07,9256.0,1502.40,3046.77,267.67,111.20,3162.78,486.24,1510.80,78.72