In [1]:
import os
import pandas as pd
from pathlib import Path
import numpy as np
import datetime as dt
import csv
%matplotlib inline

In [26]:
bitcoin_path = ("../Data/clean/Bitcoin.csv")
gold_path = ("../Data/clean/Gold.csv")
#van_path = ("../Data/raw_csv/VNQ.csv")
sp500_path = ("../Data/clean/sp500.csv")
fang_path = ("../Data/clean/fang.csv")

In [27]:
bitcoin_df = pd.read_csv(bitcoin_path)
gold_df = pd.read_csv(gold_path)
## van_df = pd.read_csv(van_path)
sp500_df = pd.read_csv(sp500_path)
fang_df = pd.read_csv(fang_path)

In [29]:
universal_df = pd.concat([bitcoin_df, gold_df, sp500_df, fang_df], axis="columns", join="inner")

universal_df.head()

,Date,BITCOIN,Date,GOLD,Date,sp500,Date,FB,AAPL,AMZN,NFLX,GOOGL
0,2019-10-29,9411.3,2020-10-29,1868.65,2020-10-29,3310.11,2019-10-29,189.31,60.82,1762.71,281.21,1260.66
1,2019-10-30,9157.9,2020-10-28,1879.20,2020-10-28,3271.03,2019-10-30,188.25,60.82,1779.99,291.45,1260.70
2,2019-10-31,9152.6,2020-10-27,1911.90,2020-10-27,3390.68,2019-10-31,191.65,62.19,1776.66,287.41,1258.80
3,2019-11-01,9230.1,2020-10-26,1905.70,2020-10-26,3400.97,2019-11-01,193.62,63.96,1791.44,286.81,1272.25
4,2019-11-02,9300.6,2020-10-23,1905.20,2020-10-23,3465.39,2019-11-04,194.72,64.38,1804.66,292.86,1289.61