In [1]:
import os
import pandas as pd
from pathlib import Path
import numpy as np
import datetime as dt
import csv
%matplotlib inline

In [2]:
# bringing in data
bitcoin_path = ("../Data/clean/Bitcoin.csv")
gold_path = ("../Data/clean/Gold.csv")
vnq_path = ("../Data/clean/VNQ.csv")
sp500_path = ("../Data/clean/sp500.csv")
fang_path = ("../Data/clean/FAANG.csv")

In [3]:
# reading in data
bitcoin_df = pd.read_csv(bitcoin_path)
gold_df = pd.read_csv(gold_path)
vnq_df = pd.read_csv(vnq_path)
sp500_df = pd.read_csv(sp500_path)
fang_df = pd.read_csv(fang_path)

In [110]:
# data that does not change on weekends

no_weekend = pd.concat([gold_df, sp500_df, vnq_df], axis=1, join= "inner")

Cols = list(no_weekend.columns)

for i, item in enumerate(no_weekend.columns):
    if item in no_weekend.columns[:i]:Cols[i] = "toDROP"

no_weekend.columns = Cols

joined_no_weekend = no_weekend.drop("toDROP", 1).set_index("Date", inplace=False).dropna()

joined_no_weekend = joined_no_weekend.iloc[::-1]
joined_no_weekend.head()

              GOLD    sp500    VNQ
Date
2019-10-14  1527.1  2984.87  77.10
2019-10-15  1513.1  2977.62  76.08
2019-10-16  1523.4  2961.79  77.94
2019-10-17  1527.8  2976.74  79.21
2019-10-18  1523.0  2940.25  80.36

In [112]:
# changing from daily price to daily pct_change

pct_change_no_fang = joined_no_weekend.pct_change().dropna()

pct_change_no_fang.to_csv("../data/csv_files/weird_dates.csv")
cleaned_no_fang_percentages = pct_change_no_fang.iloc[12:].reset_index()
cleaned_no_fang_percentages.tail()

           Date      GOLD     sp500       VNQ
260  2020-10-23  0.000315  0.003446  0.017277
261  2020-10-26  0.000262 -0.018590  0.007050
262  2020-10-27  0.003253 -0.003026  0.000212
263  2020-10-28 -0.017103 -0.035288  0.001803
264  2020-10-29 -0.005614  0.011947 -0.003599

In [113]:
# FAANG DF, percent change
fang_df.tail()

           Date     FAANG
246  2020-10-22 -0.002887
247  2020-10-23  0.008706
248  2020-10-26 -0.009420
249  2020-10-27  0.014342
250  2020-10-28 -0.038724

In [115]:
sorta_clean = pd.concat([cleaned_no_fang_percentages, fang_df], axis="columns", join="outer")
Cols = list(sorta_clean.columns)

for i, item in enumerate(sorta_clean.columns):
    if item in sorta_clean.columns[:i]:Cols[i] = "toDROP"

sorta_clean.columns = Cols

joined_sorta_clean = sorta_clean.drop("toDROP", 1).set_index("Date", inplace=False).dropna()

joined_sorta_clean.to_csv("../data/clean/clean_no_btc.csv")
joined_sorta_clean.head()

                GOLD     sp500       VNQ     FAANG
Date
2019-10-31  0.011464 -0.001387  0.017443  0.004508
2019-11-01 -0.001749  0.009956 -0.004676  0.011144
2019-11-04  0.000195 -0.002000  0.000000  0.010840
2019-11-05 -0.017579  0.002763  0.003975 -0.004088
2019-11-06  0.006207 -0.003919 -0.016437 -0.003077