In [18]:
from pathlib import Path
import pandas as pd
import datetime as dt
import csv

In [30]:
# reading in gold csv, making the Date the index
gold_df = pd.read_csv("../csv_files/gold.csv", index_col="Date", parse_dates=True, infer_datetime_format=False)

# renaming Price column Gold so that we can tell which asset is which
gold_df = gold_df.rename(columns ={"Price" : "GOLD"})

# dropping all columns beside price
gold_data = gold_df.drop(columns= {"Open", "High", "Low", "Vol.", "Change %"})

# selecting one year of information

gold_one_year = gold_data.head(365)

In [31]:
# ten years of data... date and daily price
gold_data.head()

                GOLD
Date
2020-10-29  1,868.65
2020-10-28  1,879.20
2020-10-27  1,911.90
2020-10-26  1,905.70
2020-10-23  1,905.20

In [32]:
# one year of data ... date and daily price
gold_one_year

                GOLD
Date
2020-10-29  1,868.65
2020-10-28  1,879.20
2020-10-27  1,911.90
2020-10-26  1,905.70
2020-10-23  1,905.20
...              ...
2019-06-20  1,429.40
2019-06-19  1,384.40
2019-06-18  1,387.40
2019-06-17  1,379.60
2019-06-14  1,381.50

[365 rows x 1 columns]