In [1]:
from pathlib import Path
import pandas as pd
import datetime as dt
import csv

In [2]:
# reading in gold csv, making the Date the index
sp500_df = pd.read_csv("../csv_files/sp500.csv", index_col="Date", parse_dates=True, infer_datetime_format=False)

# renaming Price column GOLD so that we can tell which asset is which
sp500_df = sp500_df.rename(columns ={"Price" : "sp500"})

# dropping all columns beside price
sp500_data = sp500_df.drop(columns= {"Open", "High", "Low", "Vol.", "Change %"})

# selecting one year of information

sp500_one_year = sp500_data.head(365)

In [3]:
# ten years of data... date and daily price
sp500_data.head()

               sp500
Date
2020-10-29  3,310.11
2020-10-28  3,271.03
2020-10-27  3,390.68
2020-10-26  3,400.97
2020-10-23  3,465.39

In [8]:
# one year of data ... date and daily price
sp500_one_year

sp500_one_year["sp500"] = sp500_one_year["sp500"].str.replace(",","").astype("float")

sp500_one_year

              sp500
Date
2020-10-29  3310.11
2020-10-28  3271.03
2020-10-27  3390.68
2020-10-26  3400.97
2020-10-23  3465.39
...             ...
2019-05-29  2783.02
2019-05-28  2802.39
2019-05-24  2826.06
2019-05-23  2822.24
2019-05-22  2856.27

[365 rows x 1 columns]

In [11]:
sp500_one_year.to_csv("../clean/sp500.csv")