In [1]:
from pathlib import Path
import pandas as pd
import datetime as dt
import csv

In [10]:
# reading in gold csv, making the Date the index
sp500_df = pd.read_csv("../csv_files/sp500.csv", index_col="Date", parse_dates=True, infer_datetime_format=False)

# renaming Price column GOLD so that we can tell which asset is which
sp500_df = sp500_df.rename(columns ={"Price" : "sp500"})

# dropping all columns beside price
sp500_data = sp500_df.drop(columns= {"Open", "High", "Low", "Vol.", "Change %"})

# selecting one year of information

sp500_one_year = sp500_data.head(252)
sp500_five_year = sp500_data.head(1260)

In [3]:
# ten years of data... date and daily price
sp500_data.head()

               sp500
Date
2020-10-29  3,310.11
2020-10-28  3,271.03
2020-10-27  3,390.68
2020-10-26  3,400.97
2020-10-23  3,465.39

In [5]:
# one year of data ... date and daily price
sp500_one_year

               sp500
Date
2020-10-29  3,310.11
2020-10-28  3,271.03
2020-10-27  3,390.68
2020-10-26  3,400.97
2020-10-23  3,465.39
...              ...
2019-05-29  2,783.02
2019-05-28  2,802.39
2019-05-24  2,826.06
2019-05-23  2,822.24
2019-05-22  2,856.27

[365 rows x 1 columns]

In [7]:
sp500_data

               sp500
Date
2020-10-29  3,310.11
2020-10-28  3,271.03
2020-10-27  3,390.68
2020-10-26  3,400.97
2020-10-23  3,465.39
...              ...
2010-10-05  1,160.75
2010-10-04  1,137.03
2010-10-01  1,146.24
2010-09-30  1,141.20
2010-09-29  1,144.73

[2540 rows x 1 columns]

In [11]:
sp500_five_year

               sp500
Date
2020-10-29  3,310.11
2020-10-28  3,271.03
2020-10-27  3,390.68
2020-10-26  3,400.97
2020-10-23  3,465.39
...              ...
2015-11-04  2,102.31
2015-11-03  2,109.79
2015-11-02  2,104.05
2015-10-30  2,079.36
2015-10-29  2,089.41

[1260 rows x 1 columns]